.ant-form-item {
    font-size: 1rem;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: $primary;
    border-right-width: 1px;
    z-index: 1;
}

.nz_custom_collapse {
    &.ant-collapse-borderless {
        background-color: transparent;
        border: 0;
    }

    >.ant-collapse-item {
        border-bottom: none;
        margin-bottom: 1rem;

    }

    &.ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: $border-radius;
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        -ms-border-radius: $border-radius;
        -o-border-radius: $border-radius;
    }

    >.ant-collapse-item>.ant-collapse-header {
        & {
            border-radius: $border-radius;
            -webkit-border-radius: $border-radius;
            -moz-border-radius: $border-radius;
            -ms-border-radius: $border-radius;
            -o-border-radius: $border-radius;
        }

        & {
            background-color: rgba($color: $primary, $alpha: .25) !important;
            color: $info;
            padding: 22px 16px;
            // padding-right: 40px;
            font-weight: bold;
        }

    }

    .ant-collapse-content-box {
        padding: 0;
    }
}


.form-control::placeholder,
*::placeholder,
.ant-picker-suffix,
.ng-select .ng-select-container .ng-value-container .ng-placeholder .ant-picker-input>input::placeholder,
.ng-placeholder,
.ant-select-selection-placeholder {
    font-size: .8rem;
    opacity: .5;
}

$select-placeholder-color: #818181d0;

.ant-input::placeholder {
    color: $select-placeholder-color;

}

.ant-select-selection-placeholder,
.ant-picker-input>input::placeholder,
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: rgba($color: $select-placeholder-color, $alpha: 1);
}

.ant-picker {
    padding: 10px 19px 10px;
    min-width: 200px;
}


.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
    background: $input-bg;
    border-color: var(--ant-error-color);
    border-width: 1px !important;
    border-style: solid;
}


.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-inline-start: 4px;
    color: #ff4d4f;
    font-size: 0.9rem;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}


.ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
    background-color: $input-bg;
    border-color: var(--ant-error-color) !important;
    border-width: 1px !important;
    border-style: solid;
}


.ant-form-item-explain-error {
    & {
        position: relative;
    }

    &::before {
        content: "\eac7";
        font-family: boxicons !important;
        font-weight: 400;
        font-style: normal;
        margin-inline-end: 3px;
        font-variant: normal;
        line-height: 1;
        vertical-align: middle;
        text-rendering: auto;
        display: inline-block;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
    }
}


// ?? ========== Form Inputs =========


.ant-input {

    background-color: $input-bg;
    border: none;

}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: $input-bg;
    border: none;

}

.ant-select-arrow svg {
    display: none;
}

.ant-select-arrow::before {
    content: "\ea29";
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    color: #808080;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
}


nz-select.primary {
    &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
        position: relative;
        background-color: rgba($color: $primary, $alpha: .3) !important;
        color: $info !important;
        border: none;
    }

    .ant-select-selection-item {
        font-weight: bold;
        color: rgba($color:$info, $alpha: 1) !important;
    }

    .ant-select-selection-placeholder {

        font-weight: normal;
        color: rgba($color: $info, $alpha: .7) !important;

    }

    .ant-select-arrow::before {
        color: $info !important;
    }


}

.divider {
    nz-option-item:not(:last-child) {
        border-bottom: 1px solid $gray-400;
    }
}

.ant-select-dropdown {
    .ant-select-dropdown {
        padding-inline: 15px;
    }

    .ant-select-item:hover {
        background-color: transparent;

    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: transparent;
        font-weight: $form-select-font-weight;
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        color: $gray-500;
        font-weight: $form-select-font-weight;
    }
}


.ant-select-dropdown {
    padding: 10px 15px;
}

.ant-select-item {
    color: $gray-500;
    font-weight: 400;
}

.ant-select-item {
    line-height: $line-height-base;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: transparent;
}

.ant-form-item-explain,
.ant-form-item-extra {
    font-size: .8rem;
}

cdk-virtual-scroll-viewport {
    min-height: 55px;
}

// .cdk-virtual-scroll-spacer {}


.ant-select-item-option-content {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    width: 100%;
}

// ?? ========================= TABLE ================

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
    padding: 19px 10px;
    font-size: 16px;
    min-width: 100px;
    white-space: nowrap;
    max-width: 310px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $body-color;
}

@media (max-width: 1440px) {

    .ant-table-thead>tr>th,
    .ant-table-tbody>tr>td,
    .ant-table tfoot>tr>th,
    .ant-table tfoot>tr>td {
        padding: 16px 8px;
        font-size: 10px;
        min-width: 80px;
    }

}

.ant-table-container table>thead>tr:first-child th:last-child {
    border-top-right-radius: 0;
}

.ant-table-container table>thead>tr:first-child th:first-child {
    border-top-left-radius: 0;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    height: 1.6em;
    background-color: #fff;

}

.nz-table-hide-scrollbar {
    scrollbar-color: #fafafa #fafafa;
    overflow: hidden !important;
}

.ant-table-column-sorters {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;

    .ant-table-column-title {
        position: relative;
        z-index: 1;
        flex: 0 1;
    }
}



.ant-picker-cell {
    padding: 0;
    font-size: .8rem;
}



.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
    box-shadow: none;
}

// ?? ========================= TABLE ================


// ?? =========== Date picker =======
nz-date-picker {
    width: 100%;
}

.ant-picker.ant-picker-small {
    padding: 9px 12px 9px ;

    .ant-picker-suffix {
        font-size: 18px ;
    }
}

.ant-picker-suffix {
    color: $input-color;
    opacity: 1;
}

.ant-picker-input>input {
    font-weight: $form-select-font-weight;
}

.ant-picker-panel-container {
    // padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    table,
    th,
    td,
    thead,
    tbody {
        border-collapse: collapse;
    }

    .ant-picker-header {
        button {
            color: $primary;
        }
    }

}




.ant-picker-decade-panel,
.ant-picker-year-panel,
.ant-picker-quarter-panel,
.ant-picker-month-panel,
.ant-picker-week-panel,
.ant-picker-date-panel,
.ant-picker-time-panel,
.ant-picker-date-panel .ant-picker-content {
    min-width: 300px;
    width: 400px;
}

.ant-picker-date-panel .ant-picker-content {
    min-width: 280px;
    width: 380px;
}

.ant-picker {
    border: 1px solid transparent;
}

.ant-picker-date-panel .ant-picker-content th {
    font-size: 0.8rem;
}



.ant-picker-suffix {
    & {
        font-family: "aya" !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 25px;
    }

    &:before {
        content: "\e9b7";
    }

    .anticon.anticon-calendar {
        display: none !important;
    }

    nz-form-item-feedback-icon {
        margin-right: 8px;
    }

}



ngx-material-timepicker-content {
    direction: ltr;

    .timepicker__header {
        background-color: $primary !important;
    }

    .clock-face__number>span.active {
        background-color: $primary !important;
        color: var(--clock-face-time-active-color);
    }

    .clock-face__clock-hand {
        background-color: $primary !important;
    }

    .clock-face__clock-hand_minute::before {
        border-color: $primary !important;
    }

    .timepicker__actions {
        direction: rtl;
    }
}

.ant-picker-ok {
    button {
        padding-block: 0 !important;
    }
}

nz-time-picker .ant-picker-suffix::before {
    display: none;
}


// .centered-picker {
//     position: fixed;
//     /* Fixed position to keep it centered regardless of scroll position */
//     top: 50%;
//     /* Center vertically */
//     left: 50%;
//     /* Center horizontally */
//     transform: translate(-50%, -50%);
//     /* Translate to center */
//     z-index: 9999;
//     /* Optional: Set z-index to control stacking order */
// }

.ant-input[disabled] {
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
}

nz-form-item-feedback-icon.ant-input-suffix {
    right: auto;
    margin-right: 0px;
    margin-left: 8px;
    left: 0;
}


.ant-input-affix-wrapper {
    border: 1px solid transparent;
    padding: 1.5px 7px;

}

.ant-input-affix-wrapper-lg {
    padding: 1px 7px;
    font-size: 20px;
}

.ant-input-affix-wrapper-sm {
    padding: 0 7px;
    border-radius: $input-border-radius-sm;
    -webkit-border-radius: $input-border-radius-sm;
    -moz-border-radius: $input-border-radius-sm;
    -ms-border-radius: $input-border-radius-sm;
    -o-border-radius: $input-border-radius-sm;


    &.xs {
        min-height: 40px;
    }
}


ngx-google-maps {
    display: block;
    height: 100%;
    width: 100%;
    min-height: 400px;
}


.ant-select-allow-clear {

    &:hover {
        .ant-select-clear~.ant-select-arrow {
            opacity: 0 !important;
        }
    }
}

.ant-picker {

    background: $input-bg;

}





.ant-select-clear {
    position: absolute;
    top: 0;
    z-index: 1;
    bottom: 0;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: #3CA3DD;
    font-size: 17px;
    font-style: normal;
    line-height: 1;
    text-align: center;
    text-transform: none;
    background: inherit;
    cursor: pointer;
    opacity: 0;
    transition: color 0.3s ease, opacity 0.15s ease;
    text-rendering: auto;

    .ant-select-close-icon {
        background: #fff;
        border-radius: 50%;
    }
}

.ant-select-rtl .ant-select-clear {
    right: initial;
    left: 7px;
}

.ant-picker-clear {
    @extend .ant-select-clear;
    height: 8px;
}

.ant-picker-input:hover {
    .ant-picker-clear~.ant-picker-suffix {
        opacity: 0;
    }
}

.ant-select-clear:hover {
    color: #1a5232;
}


.cdk-overlay-container {
    z-index: 1800;
}

.ant-tooltip {
    // width: 98%;
    max-width: 400px;
}

.ant-tooltip-inner {
    min-width: 30px;
    min-height: 32px;
    padding: 20px;
    color: $body-color;
    text-align: left;
    font-size: 13px;
    line-height: 1.4;
    white-space: pre-line;
    text-decoration: none;
    word-wrap: break-word;
    border-radius: 12px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.ant-form-item-label>label::after {
    content: '';
    display: none;
}

label {
    width: 100%;
}

.ant-form-item-control {

    width: 100%;
}