<ng-container>
  <section class="d-grid h-100" style="grid-template-rows: auto 1fr;">
    <div class="w-100 py-4 px-3 d-flex bg-ksa bg-white">
      <div
        class="mw-lg-600px text-nowrap d-flex flex-md-row col-lg-6 flex-column justify-content-between align-items-center text-secondary mb-2">
        <h4 class="mb-0 d-flex text-body align-items-center fw-bold">
          <button class="btn-icon h-40px w-40px bg-white btn mx-2 p-0 text-primary">
            <img src="assets/images/elites/home-2.svg" alt="Home icon">
          </button>
          <span>الرئيسية :</span>
        </h4>
      </div>

    </div>

    <div class="d-grid">
      <div class="table-v2 d-none d-md-block">
        <!-- Table for desktop -->
        <div class="card p-4 col-md-12">
          <div class="os-toolbar d-flex col-md-12">
            <div class="d-flex col-md-8">
              <div *ngIf="acc?.roles?.includes('Admin')">
                <ng-container *appRole="[roles.Admin]">
                  <button routerLink="add" class="btn px-4 btn-sm btn-tool" style="
                  padding-bottom: 12px;
              ">
                    <span class="aya-plus icon icon-ksa"></span>
                    <span>إضافة</span>
                  </button>
                </ng-container>
              </div>
              <div class=" col-md-2 mx-2">
                <ng-select (change)="getAllElites(this._page)" [(ngModel)]="filterQualificationId" class="sm btn-tool"
                  [searchable]="false" placeholder=" المؤهلات">

                  <ng-option *ngFor="let item of qualifications" [value]="item?.name">{{item?.name}}</ng-option>
                </ng-select>
              </div>
              <div class="col-md-2 mx-4">
                <ng-select (change)="getAllElites(this._page)" [(ngModel)]="filterCategoryId" class="sm btn-tool"
                  [searchable]="false" placeholder="التخصص">

                  <ng-option *ngFor="let item of subCategories" [value]="item?.name">{{item?.name}}</ng-option>
                </ng-select>
              </div>
              <div class="col-md-2 mx-2">
                <ng-select (change)="getAllElites(this._page)" [(ngModel)]="filterCityId" class="sm btn-tool
                " [searchable]="false" placeholder="المدن">
                  <ng-option *ngFor="let item of cities" [value]="item?.name">{{item?.name}}</ng-option>
                </ng-select>
              </div>

            </div>

            <div class=" col-md-3">
              <div class="col-md-12">
                <search-input (searchTermChange)="getAllElites(this._page, $event)" />
              </div>
            </div>
          </div>
          <mg-scroll-x>
            <nz-table class="v2" [nzScroll]="{ x: '1000px' }" [nzLoading]="gettingUsers" #basicTable
              [nzBordered]="false" [nzTableLayout]="'fixed'" [nzData]="elites || []" [nzFrontPagination]="false"
              [nzShowPagination]="false" #expandTable>
              <thead>
                <tr>
                  <th (nzSortOrderChange)="query(column.key, $event)" [nzColumnKey]="column.key"
                    [ngStyle]="{maxWidth: column.maxWidth + 'px'}" *ngFor="let column of listOfColumns"
                    [nzEllipsis]="column.nzEllipsis" [nzShowSort]="column.sortable" [nzSortFn]="!!column.sortable"
                    [nzSortDirections]="column.sortDirections || []">
                    <strong>{{ column.name }}</strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let elite of basicTable.data; index as rowNumber">
                  <tr [routerLink]="['details', elite?.id]" class="pointer">
                    <td>{{ elite.name }}</td>
                    <td>{{ elite.mainCategory }}</td>
                    <td>{{ elite.category }}</td>
                    <td>{{ elite.city }}</td>
                    <td>{{ elite.position }}</td>
                    <td>{{ elite.qualification }}</td>
                    <td>{{ elite.workplace }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </mg-scroll-x>
        </div>
        <div class="mt-3 text-center d-flex justify-content-center">
          <ngb-pagination [collectionSize]="_total" [page]="_page" (pageChange)="getAllElites($event)"
            [pageSize]="_pageSize"></ngb-pagination>
        </div>
      </div>

      <!--  Mobile Version Start -->
      <section class="d-md-none">
        <div class="container">
          <div class="row">
            <ng-container *ngIf="acc?.roles?.includes('Admin')">
              <mg-scroll-x>
                <div class="col-md-12 pb-2 d-flex">
                  <div *ngFor="let item of menu" class="col-md-2 mx-1">
                    <button [routerLink]="item.link" class="btn text-nowrap btn-sm btn-tool">
                      <img class="mb-2" [src]="item.img">
                      <span class="fs-5"> {{ item.label }}</span>

                    </button>
                  </div>
                </div>
              </mg-scroll-x>
            </ng-container>
            <div class="col-md-12 d-flex">
              <div class="col-md-1 m-0">
                <ng-container *ngIf="acc?.roles?.includes('Admin')">
                  <div *appRole="[roles.Admin]" class="d-flex col-md-4">
                    <button routerLink="add" class="btn btn-sm btn-tool">
                      <span class="aya-plus icon icon-ksa"></span>
                    </button>
                  </div>
                </ng-container>
              </div>
              <div class="col-md-2 m-1">
                <ng-select (change)="getAllElites(this._page)" [(ngModel)]="filterCategoryId" class="sm"
                  [searchable]="false" placeholder="فلتر بالتخصص">
                  <ng-option *ngFor="let item of subCategories" [value]="item?.name">
                    {{item?.name}}
                  </ng-option>
                </ng-select>
              </div>
              <div class="col-md-5">
                <search-input (searchTermChange)="getAllElites(this._page , $event)" />
              </div>
            </div>
          </div>
        </div>

        <div ngbAccordion #accordion="ngbAccordion">
          <div class="card p-4 mx-1 col-md-12">
            <div ngbAccordion>
              <div ngbAccordionItem *ngFor="let elite of elites" style="background: #A5DEFF;">
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>
                    <span> <b>{{elite.name}}</b> </span>
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody class="elite-info">
                    <ng-template>
                      <ul>
                        <li class="d-flex mb-2">
                          <div class="col-4"><strong>التخصص:</strong></div>
                          <div class="col-8">{{ elite.category }}</div>
                        </li>
                        <li class="d-flex mb-2">
                          <div class="col-4"><strong>المدينة:</strong></div>
                          <div class="col-8">{{ elite.city }}</div>
                        </li>
                        <li class="d-flex mb-2">
                          <div class="col-4"><strong>المنصب:</strong></div>
                          <div class="col-8">{{ elite.position }}</div>
                        </li>
                        <li class="d-flex mb-2">
                          <div class="col-4"><strong>المؤهل:</strong></div>
                          <div class="col-8">{{ elite.qualification }}</div>
                        </li>
                        <li class="d-flex mb-2">
                          <div class="col-4"><strong>جهة العمل:</strong></div>
                          <div class="col-8">{{ elite.workplace }}</div>
                        </li>
                      </ul>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3 text-center d-flex justify-content-center">
          <ngb-pagination [collectionSize]="_total" [page]="_page" (pageChange)="getAllElites($event)"
            [pageSize]="_pageSize"></ngb-pagination>
        </div>

      </section>
    </div>

    <!--  Mobile Version End -->


  </section>
</ng-container>