<mg-auth-wrapper *ngIf="acc">
  <div *ngIf="acc" class=" d-flex w-100  align-items-stretch justify-content-start ">
    <div class="col-12 col-lg-12 bg-white py-5 ">
      <div class="d-flex h-100 align-items-center justify-content-center">
        <div class="">
          <div class="mb-4 mx-auto text-center">
            <h2 class="text-primary fw-bold mb-3 ">
              قاعدة بيانات النخب السعودية
            </h2>
            <div class="w-100  text-center text-body mb-3 mb-md-5">
              <p class="mb-0 text-primary">
                <span class="bx bx-user-check fs-5 align-middle"></span>
                <span class="">
                  {{acc.name || acc.email}}
                </span>
              </p>
            </div>
          </div>
          <div class="systems_body">
            <div class="mt-4 text-center">
              <a (click)="logout()" class="btn btn-link btn-sm text-danger" role="button">
                <span class="aya-power-on"></span>
                تسجيل الخروج
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mg-auth-wrapper>
<!-- end container -->