<div class=" d-flex align-items-center justify-content-center bg-auth">

  <div class="col-12">
    <div class="mb-4 mx-auto text-center">
      <img height="70" class="mb-5" [src]="logos.light" alt="">
      <h2 class="text-white fw-normal mb-3">
        مرحبــــًا بك في نظام مانجر..
      </h2>
      <h5 class="text-white mb-3 fw-normal">
        فضلاَ أدخل البيانات التالية واستمتع بتجربة مميزة داخل النظام
      </h5>
      <mg-acctype-button></mg-acctype-button>

    </div>

  </div>
  <!-- end container -->
</div>
<!-- end page -->