@import '../system-chooser/system-chooser.component.scss';

.card {
  background-color: #fff;
  max-width: 800px;
  border: 1px solid #3CA3DD;
}

.card-font {
  color: #3CA3DD;
}

.btn-ksa {
  background-color: #3CA3DD !important;
}
