<mg-auth-wrapper>

  <div class="col-12">
    <div class="mb-4 mx-auto text-center">
      <img height="70" class="mb-5" [src]="logos.light" alt="">
    </div>
    <div class="card mx-auto mg-card">
      <div class="card-body">

        <h2 class="text-white text-center
                    ">
          <ng-lottie [height]="'228px'" [options]="options"></ng-lottie>
        </h2>
        <h3 style="max-width: 290px;" class="text-white mx-auto mb-3 text-center">
          تم تسجيل طلبك بنجاح طلبك قيد المراجعة
        </h3>
        <p class="text-white text-center">
          سيتم إرسال بريد إلكتروني تأكيدي لحسابك
        </p>
      </div>
    </div>
  </div>
  <!-- end container -->

</mg-auth-wrapper>
<!-- end page -->